::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dark-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dark-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dark-gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dark-gray;
}
body {
  background: url(../../assets/img/concrete_seamless.png) repeat center center !important;
}
@font-face {
    font-family: 'Bajern';
    src: url('../fonts/Bajern.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kilauea';
    src: url('../fonts/Kilauea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VollkornBold';
    src: url('../fonts/Vollkorn-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VollkornBoldItalic';
    src: url('../fonts/Vollkorn-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VollkornItalic';
    src: url('../fonts/Vollkorn-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VollkornRegular';
    src: url('../fonts/Vollkorn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manifesto';
    src: url('../fonts/Manifesto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ordnung';
    src: url('../fonts/Ordnung.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kust';
    src: url('../fonts/Kust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Antre';
    src: url('../fonts/Antre.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AzedoBold';
    src: url('../fonts/AzedoBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AzedoLight';
    src: url('../fonts/AzedoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ButlerBlack';
    src: url('../fonts/ButlerBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ButlerBold';
    src: url('../fonts/ButlerBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ButlerExtraBold';
    src: url('../fonts/ButlerExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ButlerLight';
    src: url('../fonts/ButlerLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ButlerMedium';
    src: url('../fonts/ButlerMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ButlerUltraLight';
    src: url('../fonts/ButlerUltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kankin';
    src: url('../fonts/Kankin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KolikoBold';
    src: url('../fonts/KolikoBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KolikoLight';
    src: url('../fonts/KolikoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KolikoRegular';
    src: url('../fonts/KolikoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ModerneSans';
    src: url('../fonts/ModerneSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
